<%
const conf = {
    title : 'app | universal application',
    description : 'spa page',
    style: 'app.css',
    script: ['vendor.app.js', 'app.js']
};
%>

<% include ../views/_head.ejs %>

<div id="app"><%- component %></div>
<script>
    // 環境変数のUniversal
    window.process = {
      env: {
        NODE_ENV: '<%-process.env.NODE_ENV%>'
      }
    };

</script>
<script id="initial-data" type="text/plain" data-json='<%- appState %>'></script>

<% include ../views/_foot.ejs %>
