<% if (process.env.NODE_ENV === 'development') { %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
<% } %>

<% for (let i = 0; i < conf.script.length; i++) { %>
<script src="/js/<%= conf.script[i] %>"></script>
<% } %>
</body>
</html>
