<%
const conf = {
    title : 'top',
    description : 'universal application',
    style: 'index.css',
    script: ['vendor.bundle.js', 'index.js']
};
%>

<% include _head.ejs %>

<div id="app"><%- component %></div>
<script id="initial-data" type="text/plain" data-json='<%- appState %>'></script>

<% include _foot.ejs %>
