<%
const conf = {
    title : 'policy',
    description : 'policy of universal application',
    style: 'policy.css',
    script: ['vendor.bundle.js', 'policy.js']
};
%>

<% include _head.ejs %>

<header>
    <div>header</div>
</header>
<div>
    <h1 class="h1">Policy Page</h1>
</div>
<footer>
    <div>footer</div>
</footer>

<% include _foot.ejs %>
