@import "../../../styles/_reset.css";

:root {
    --fontSize: 2rem;
}

.MainVisual {
    font-size: var(--fontSize);
    color: green;
    background: lightblue;

    &-child {
        padding: 5rem;
    }
}
